body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #EAF9F5;
  position: relative;
  padding-top: 250px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0;

}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 8px;
  width: 4%;
  margin: 100px auto;;
}

h1 {
  font-size: 600%;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6
}

.copyright{
  color: #EAF6F6;
  font-size: 75%;
  margin: 30px 0;
}
.subheading {
  font-size: 20px;
  font-weight: normal;
  color: #66BFBF;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 60px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.mountain {
  margin: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.web-d-img {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.digital-marketing-img {
  width: 15%;
  float: right;
}

.BUTTON_IOG {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: bold;
   padding: 15px;
   background-color: #66BFBF;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top: 60px;

}

.BUTTON_IOG:hover {
   border: solid #11999E 1px;
   background: #11999E;
   background-image: -webkit-linear-gradient(top, #11999E, #11999E);
   background-image: -moz-linear-gradient(top, #11999E, #11999E);
   background-image: -ms-linear-gradient(top, #11999E, #11999E);
   background-image: -o-linear-gradient(top, #11999E, #11999E);
   background-image: -webkit-gradient(to bottom, #11999E, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
